img {
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/output-onlinepngtools.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.profile-img {
  width: 300px;
}

.card-img-top {
  background-size: cover;
}

.card {
  background-color: rgb(240, 248, 255, 0.6);
}