<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>Users List</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 justify-content-between">

            <table class="table">
                <tbody>
                    {{#each users }}
                    <tr>
                        <td>
                            <h3>{{ username }}</h3>
                        </td>
                        <td>
                            <a href="/users/details/{{_id}}" class="btn btn-dark btn-sm">Details</a>
                        </td>
                        <td>
                            <a href="/users/edit/{{_id}}" class="btn btn-dark btn-sm">Edit</a>
                        </td>
                        <td>
                            <form action="/users/delete/{{_id}}" method="POST">
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                            </form>
                        </td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>