<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>New Museum Form</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <form action="/museums/create" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="longitude" class="form-label">Location Longitude</label>
                        <input type="text" class="form-control" id="museumLongitud" name="longitude">
                        <div class="form-text">Reqired.</div>
                    </div>
                    <div class="col">
                        <label for="latitude" class="form-label">Location Latitude</label>
                        <input type="text" class="form-control" id="museumLatitude" name="latitude">
                        <div class="form-text">Required.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="museumName" name="name">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="museumDescription" rows="3" name="description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="cover" class="form-label">Image</label>
                    <input type="text" class="form-control" id="museumCover" name="cover">
                    <div class="form-text">Insert an image.</div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Complete register.</button>
                </div>

                {{#if errorMessage}}
                <div id="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
        </div>
    </div>
</div>